
.home {
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
}

header {
    background-color: #242424;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: sticky;
}

.header-wrapper {
    width: 92%;
    margin-inline: auto;
}

#name-input {
    border: none;
    border-bottom: 2px solid white;
    padding: 5px 10px;
    outline: none;
    background-color: inherit;
    color: grey;
    font-size: 1.2rem;
 }

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
}

.editor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.markdown-section, .preview-section {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    border:#242424 1px solid;
}

.preview__scroll * {
    all: revert;
}

.markdown-textarea, .preview__scroll {
    overflow: auto;
    width: 100%;
    height: 85vh;
    padding: 1rem 2rem;
}

.preview-section {
    grid-column: 2/3;
}

.markdown-textarea {
    border: none;
    outline: none;
    resize: none;
}

.preview__scroll {
    padding-top: 0;
    line-height: 30px;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 80%;
    height: 100dvh;
    z-index: 10;

    background-color: #2b2a2a;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-y: auto;
}

.icon-close-menu {
    padding-inline: 1rem;
    margin-bottom: 3rem;
}

.icon-close-menu * {
    float: right;
}

.icon-close-menu *:hover {
    cursor: pointer;
}

.sidebar-inner {
    display: grid;
    gap: 1.8rem;
}

.doc-link {
    color: gray;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    font-weight: 500;
}

.btn-sidebar {
    width: 80%;
    margin-inline: auto;
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-radius: 4px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .8rem;
    color: white;
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .header-wrapper {
        width: 95%;
    }

    .title {
        display: none;
    }

    #name-input {
        width: 80%;
    }

    .header-right {
        display: flex;
        gap: 1.2rem;
        align-items: center;
    }

    .editor {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .preview-section {
        grid-column: 1/2;
    }
}


